@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    /* Colors*/

/*Primary*/
--moderate-violet: hsl(263, 55%, 52%);
--very-dark-grayish-blue: hsl(217, 19%, 35%);
--very-dark-blackish-blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);

/* Neutral*/

--light-gray: hsl(0, 0%, 81%);
--light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 img {
     width: 100%;
 }

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.testimonials-wrapper {
    margin: 5rem 2rem;
    display: grid;
    gap: 2rem;
    grid-template-areas: 
    "item-1"
    "item-2"
    "item-3"
    "item-4"
    "item-5";
}

.testimonial-container {
    background-color: var(--White);
    border-radius: 10px;
    padding: 2rem;
    text-align: left;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.10);
    cursor: pointer;
}

.testimonial-container:hover {
   transform: translateY(-5px);
}

.graduate-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    max-width: 200px;
    margin-bottom: 1rem;
}

.img-container img {
    border-radius: 50%;
}

.img-container img.border-violet {
   border: 3px solid hsla(263, 79%, 68%, 0.844);
}

.graduate-info__text {
    color: var(--White);
   padding-right: 1.5rem;
}

.graduate-info__text span {
    color: hsla(0, 0%, 100%, 0.5);
}

.testimonial-header {
    color: var(--White);
    padding-right: 2rem;
    margin-bottom: 1rem; 
    font-size: 1.5rem;
}

.review-container {
    margin: .5rem;
}

.review-container__text {
    color: hsla(0, 0%, 100%, 0.7);
}



.violet-bg {
    background-color: var(--moderate-violet);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 85% 0%;
}

.gray-bg {
    background-color: var(--very-dark-grayish-blue);
}

.gray-text {
    color: var(--very-dark-grayish-blue);
}

.gray-light-text {
    color: hsla(217, 16%, 36%, 0.7) !important;
}

.dark-blue-bg {
    background-color: var(--very-dark-blackish-blue);
}

.testimonial-container:nth-child(1) {
    grid-area: item-1;
}

.testimonial-container:nth-child(2) {
    grid-area: item-2;
}

.testimonial-container:nth-child(3) {
    grid-area: item-3;
}

.testimonial-container:nth-child(4) {
    grid-area: item-4;
}

.testimonial-container:nth-child(5) {
    grid-area: item-5;
}


@media screen and (min-width: 1110px) {
    .testimonials-wrapper {
        grid-template-columns: repeat(4, 1fr);
       grid-template-areas: 
       "item-1 item-1 item-2 item-5"
       "item-3 item-4 item-4 item-5 ";
    }

    
    
}